
html,body {
    margin:0;
    padding:0
}

.body { 
display: flex;
flex-direction: column;
font-family: "roboto", sans-serif;
margin: 0;
}

/*these are the styles for hero*/
ul { 
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 0px; 
    gap:16px;
    margin: 0px;
    
}

.header {
    padding: 50px 200px;
    font-family: "roboto-mono", "san-serif";
    font-weight: 400;
    padding-top: 16px;
}


.header-logo{ 
    margin-right: auto;
    font-size: 24px;
    color: #f9faf8;
    font-family: "roboto-mono", sans-serif;
    font-weight:bold;

    
}

li {
    list-style-type: none;
    display: flex;
    font-family: "roboto-mono", sans-serif;
}

a { 
    text-decoration: none;
    color: #E5E7EB;
}

.header, .footer, .hero{ 
    background-color: #1f2937;
}

.awesome-subtext { 
    color:#e0e0e0; 
    font-size: 18px
}
.hero { 
    font-family: "roboto", sans-serif;
    background-color: #1f2937;
    display: flex;
    align-items: center;
    padding: 100px 200px;
    gap: 141px;
    justify-content: center;
    
}

.hero-left { 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    flex: 1; 
    margin-left: auto; 
    gap: 10px;
}

.awesome { 
    font-size: 48px;
    font-weight: 800; 
    color: #f9faf8;
    display: flex;
}

.moon { 
    font-family: "roboto", sans-serif;
    display: flex;
    background-color: #faf2e7;
    height: 222px;
    width: 400px;
    flex: 0 0 0;
    justify-content: center;
    align-items: center;
    margin-right: auto;
    margin-left:auto;
    border-radius: 1%;
    border: none;
    padding: 1px;

}

.sign-up { 
    background-color: #3882f6;
    border-radius: 7px;
    border-color:#3882f6 ;
    padding: 5px 25px;
    align-items: center;
    justify-content: center;
    color: #fbfbfb; 
    font-weight: 600; 
    margin-top:8px;
} 

/*this section contains styles for "information" container*/

.info-container { 
    display:flex; 
    flex-direction: column;
    padding: 50px 300px;
    padding-bottom: 50px;
    align-items: center;
    
}

.info-header { 
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
    font-size: 34px;
    font-weight: bolder;
    color: #1f2937
}

.card-container { 
    display: flex;
    justify-content: center;
    gap: 50px;
    padding: 40px;
    padding-top: 0px;
}

.card { 
    display: flex;
    flex-direction: column;
    gap: 12px;
    justify-content: center;
    align-items: center;
    max-width: 150px;
    
}

img { 
    width: 150px;
    height:150px; 
    border-radius: 10px;
    border: 0px solid #3882f6; 
   
}

.text { 
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 16px;
    color: #6c8693;
}

/* this section is for quote container styling*/

.quote-container { 
    display: flex;
    flex-direction: column;
    padding: 50px 300px;
    background-color: #E5E7EB;
    justify-content: center;
    ;
}

.quote-text { 
    font-size: 30px;
    font-style: italic;
    font-weight: lighter;
    color: #1F2937; 
    display: flex;
    justify-content: center;
}

.credit { 
    display: flex;
    justify-content: flex-end;
    padding-right: 40px;
    font-weight: bold;
    padding-top: 12px;
}

/*this section is for the call to action*/

.call-container {
font-family: "roboto", sans-serif;
padding: 0px 200px; 

}

.call-box { 
   display: flex;
   flex-direction: row;
   justify-content: space-around;
    background-color: #3882f6;
    padding: 30px 0px;
    margin: 100px 0px;
    border-radius: 8px;
    color: #f9faf8;
}

#button2 {
    border-color: white; 
}

.call-left { 
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.action { 
    font-size: 18px;
    font-weight: 600;
}

.action-subtext { 
    font-size: 14px;
}

/*this is the footer*/

.footer { 
    display: flex;
    padding: 40px;
    justify-content: center;
    align-items: center;
    color:#E5E7EB;
    font-size: 12px;
    gap: 5px;
}

.footer-container { 
    margin-top: auto;
    display: flex;
    flex-direction: column;
    margin-top: auto;
    justify-content: flex-end;
}
img.copyright {
 width:12px;
 height: 12px;

}